nav {
    font-family: 'Cinzel Decorative', serif;
    /*font-size: 16px;*/
    font-weight: 400;
}

body {
    font-family: 'Roboto', sans-serif;
}

.top-banner {
    /*background-image: linear-gradient(#664433, #B16A4C);*/
    background-image: linear-gradient(#C37A57, #472C21);
    background: url('../img/matrixWallpaperBlurred.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-banner-content {
    height: 75vh;
}

.top-banner-title {
    color: white;
    font-family: 'Cinzel Decorative', serif;
}

.top-banner-divider {
    margin-top: 8px;
    margin-bottom: 16px;
}

.carousel .carousel-item {
    min-height: 400px;
}

.slider .slides li img {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.flow-text {
    text-align: justify;
    text-justify: inter-word;
}